.navbar {
  border-bottom: 1px solid #F5F5F5;
  padding: 0;
}

.nav-trigger {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-weight: 400;
  padding: 10px 0;
  &:focus {
    outline: 0;
  }
}
